.App {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: sticky;
  background: border-box;
  box-shadow: black;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,37,68,1) 67%, rgba(0,212,255,1) 100%);
  top: 0;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  width: 100%;
  margin-top: 7%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heade {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.portoo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 9rem;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-top: 2%;
  font-size: 1.6rem;
  color: white;
}

.props {
  width: 60%;
  text-align: center;
  margin: 10% auto;
}

.nom {
  font-size: 2rem;
}
.compta{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  margin: 5% auto;

}

.compta img{
  width: 200px;
  animation: rotate 8s linear infinite;
  padding: 5%;
}
.compte{
  color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,37,68,1) 67%, rgba(0,212,255,1) 100%);
  width: 100%;
  text-align: center;
}

@keyframes rotate{
  0%{
      transform: perspective(1000px) rotateY(0deg);
  }
  100%{
      transform: perspective(1000px) rotateY(360deg);
  }
}
.propor{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.minus{
  padding: 2% 2%;
  width: 20%;
  border: solid #61dafb;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
    background-color: #a04fab;
}
.minus img{
  width: 53%;
  padding: 21% 20% ;
  
}

.minus p{
  font-size: 1rem;
}
.proj{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.minn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4rem;
  text-decoration: none;


}
.minn:hover{
  color: goldenrod;
}

.parar{
  position: relative;
  bottom: 9%;
}
.resaux img {
  width: 57%;
}
.resaux a{
 
  width: 10%;
}

.resaux{
  margin-top: 4%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #4c1e52;
  box-shadow:  20px 20px 11px #311435,
             -20px -20px 11px #67296f;
}